openapi: 3.1.0
info:
  title: RouteBox Cloud Gateway API
  version: 1.0.0
  description: |
    Multi-provider LLM routing gateway with OpenAI-compatible API.
    Routes requests to OpenAI, Anthropic, Google, DeepSeek, MiniMax, and Kimi
    with automatic retry, fallback, and circuit breaker for high availability.
  contact:
    name: RouteBox
    url: https://routebox.dev

servers:
  - url: https://cloud.routebox.dev
    description: Production
  - url: http://localhost:3001
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Health
    description: Health check and metrics
  - name: Auth
    description: User registration and authentication
  - name: Billing
    description: Credit packages, subscriptions, and Polar integration
  - name: Account
    description: User profile, balance, and transactions
  - name: AI
    description: OpenAI-compatible chat completions API

paths:
  # ── Health & Metrics ─────────────────────────────────────────────────────────

  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      operationId: getHealth
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  timestamp:
                    type: string
                    format: date-time

  /metrics:
    get:
      tags: [Health]
      summary: Prometheus metrics
      security: []
      operationId: getMetrics
      responses:
        "200":
          description: Prometheus text exposition format
          content:
            text/plain:
              schema:
                type: string

  # ── Auth ─────────────────────────────────────────────────────────────────────

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      security: []
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 254
                password:
                  type: string
                  minLength: 6
                  maxLength: 72
                name:
                  type: string
                  maxLength: 100
                referralCode:
                  type: string
                  description: Optional referral code to claim on registration
      responses:
        "200":
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT access token
                  user:
                    $ref: "#/components/schemas/UserSummary"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/login:
    post:
      tags: [Auth]
      summary: Authenticate user
      security: []
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 254
                password:
                  type: string
                  maxLength: 72
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: "#/components/schemas/UserSummary"
        "401":
          $ref: "#/components/responses/AuthError"

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current user (via JWT)
      operationId: getAuthMe
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── Billing ──────────────────────────────────────────────────────────────────

  /billing/packages:
    get:
      tags: [Billing]
      summary: List credit packages
      security: []
      operationId: getPackages
      responses:
        "200":
          description: Available credit packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  packages:
                    type: array
                    items:
                      $ref: "#/components/schemas/CreditPackage"

  /billing/plans:
    get:
      tags: [Billing]
      summary: List subscription plans
      security: []
      operationId: getPlans
      responses:
        "200":
          description: Available subscription plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      $ref: "#/components/schemas/SubscriptionPlan"

  /billing/checkout:
    post:
      tags: [Billing]
      summary: Create Polar checkout session for credit purchase
      operationId: createCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [packageId]
              properties:
                packageId:
                  type: string
      responses:
        "200":
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Polar Checkout URL to redirect user to
                  sessionId:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"

  /billing/subscribe:
    post:
      tags: [Billing]
      summary: Create Polar checkout session for subscription
      operationId: createSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [planId]
              properties:
                planId:
                  type: string
      responses:
        "200":
          description: Subscription checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  sessionId:
                    type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"

  /billing/cancel-subscription:
    post:
      tags: [Billing]
      summary: Cancel active subscription (at period end)
      operationId: cancelSubscription
      responses:
        "200":
          description: Subscription cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          description: No active subscription found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /billing/webhook:
    post:
      tags: [Billing]
      summary: Polar webhook handler
      security: []
      operationId: polarWebhook
      description: |
        Handles Polar webhook events. Authenticated via Standard Webhooks signature,
        not JWT. Processes: order.paid, subscription.created, subscription.active,
        subscription.updated, subscription.canceled, subscription.revoked.
      parameters:
        - name: webhook-id
          in: header
          required: true
          schema:
            type: string
        - name: webhook-timestamp
          in: header
          required: true
          schema:
            type: string
        - name: webhook-signature
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Webhook processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
        "400":
          description: Invalid signature or missing header

  # ── Account ──────────────────────────────────────────────────────────────────

  /account/me:
    get:
      tags: [Account]
      summary: Get full user profile with balance
      operationId: getAccountMe
      responses:
        "200":
          description: Full user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/AuthError"
        "404":
          description: User not found

  /account/balance:
    get:
      tags: [Account]
      summary: Get current credit balance
      operationId: getBalance
      responses:
        "200":
          description: Current balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance_cents:
                    type: integer
                    description: Credit balance in cents
        "401":
          $ref: "#/components/responses/AuthError"

  /account/transactions:
    get:
      tags: [Account]
      summary: Get transaction history
      operationId: getTransactions
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Transaction"
        "401":
          $ref: "#/components/responses/AuthError"

  /account/referral:
    get:
      tags: [Account]
      summary: Get or create referral code
      operationId: getReferral
      responses:
        "200":
          description: Referral code and stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 6-character referral code
                  uses:
                    type: integer
                  totalRewardCents:
                    type: integer
        "401":
          $ref: "#/components/responses/AuthError"

  /account/analytics:
    get:
      tags: [Account]
      summary: Get usage analytics
      operationId: getAnalytics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [today, 7d, 30d]
            default: today
      responses:
        "200":
          description: Usage analytics data
          content:
            application/json:
              schema:
                type: object
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthError"

  # ── AI (OpenAI-compatible) ───────────────────────────────────────────────────

  /v1/models:
    get:
      tags: [AI]
      summary: List available models
      operationId: listModels
      responses:
        "200":
          description: Available models
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                          enum: [model]
                        created:
                          type: integer
                        owned_by:
                          type: string
        "401":
          $ref: "#/components/responses/AuthError"

  /v1/chat/completions:
    post:
      tags: [AI]
      summary: Create chat completion
      operationId: createChatCompletion
      description: |
        OpenAI-compatible chat completion endpoint. Supports streaming (SSE) and
        non-streaming responses. Routes to the best available provider with automatic
        retry and fallback. Deducts credits based on token usage with plan-based markup.

        Supported models include GPT-4o, Claude Sonnet/Haiku/Opus, Gemini Pro/Flash,
        DeepSeek, MiniMax, and Kimi. Model aliases are supported (e.g., "claude-sonnet"
        resolves to the latest Claude Sonnet version).

        Non-streaming responses include a `_routebox` metadata field with routing info.
        Streaming responses inject a `routebox.meta` SSE event before `[DONE]`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: Chat completion response (non-streaming)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              schema:
                type: string
                description: SSE stream of ChatCompletionChunk events
          headers:
            X-RouteBox-Provider:
              schema:
                type: string
              description: Provider that served the request
            X-RouteBox-Model:
              schema:
                type: string
              description: Resolved model ID
        "400":
          description: Invalid request (missing model, empty messages, etc.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/AuthError"
        "402":
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "502":
          description: All providers failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: No available provider for the requested model
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

# ── Components ───────────────────────────────────────────────────────────────

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login or /auth/register

  responses:
    AuthError:
      description: Authentication required or invalid token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    ValidationError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    RateLimitError:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/Error"
              - type: object
                properties:
                  error:
                    type: object
                    properties:
                      retry_after_seconds:
                        type: integer
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          required: [message, type]
          properties:
            message:
              type: string
            type:
              type: string
              enum:
                - auth_error
                - validation_error
                - conflict_error
                - billing_error
                - rate_limit_error
                - invalid_request_error
                - upstream_error
                - server_error
                - not_found
            code:
              type: string
            upstream:
              type: string
              description: Truncated upstream error body (for upstream_error type)
            retry_after_seconds:
              type: integer
              description: Seconds to wait before retrying (for rate_limit_error)

    UserSummary:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        displayName:
          type: string
          nullable: true
        plan:
          type: string
          enum: [free, pro, business]
        balanceCents:
          type: integer

    UserProfile:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        displayName:
          type: string
          nullable: true
        plan:
          type: string
          enum: [free, pro, business]
        balanceCents:
          type: integer
        totalDepositedCents:
          type: integer
        totalUsedCents:
          type: integer
        createdAt:
          type: string
          format: date-time

    CreditPackage:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
          description: Price in cents
        credits:
          type: integer
          description: Credit amount in cents
        label:
          type: string
        bonus:
          type: integer
          description: Bonus credits in cents

    SubscriptionPlan:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        monthlyPrice:
          type: integer
          description: Monthly price in cents
        markup:
          type: number
          description: Cost markup multiplier (e.g., 1.5 = 50% markup)
        features:
          type: array
          items:
            type: string

    Transaction:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [credit, debit, refund]
        amountCents:
          type: integer
        description:
          type: string
        createdAt:
          type: string
          format: date-time

    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          description: |
            Model ID or alias. Supported aliases: claude-sonnet, claude-haiku,
            claude-opus, gpt-4o-latest, gemini-flash, gemini-pro.
          examples:
            - gpt-4o
            - claude-sonnet
            - gemini-2.5-pro
        messages:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant, function]
              content:
                oneOf:
                  - type: string
                  - type: array
                    items:
                      type: object
        stream:
          type: boolean
          default: false
        max_tokens:
          type: integer
          minimum: 1
          maximum: 200000
        temperature:
          type: number
          minimum: 0
          maximum: 2
        top_p:
          type: number

    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum: [chat.completion]
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                    enum: [assistant]
                  content:
                    type: string
              finish_reason:
                type: string
                enum: [stop, length]
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
        _routebox:
          type: object
          description: RouteBox routing metadata
          properties:
            routed_model:
              type: string
            provider:
              type: string
            instance_id:
              type: string
            cost:
              type: number
              description: Provider cost in dollars
            user_cost_cents:
              type: integer
              description: User cost in cents (with markup)
            usage:
              type: object
              properties:
                prompt_tokens:
                  type: integer
                completion_tokens:
                  type: integer
                total_tokens:
                  type: integer
            latency_ms:
              type: integer
            is_fallback:
              type: boolean

    ChatCompletionChunk:
      type: object
      description: SSE streaming chunk (data field in text/event-stream)
      properties:
        id:
          type: string
        object:
          type: string
          enum: [chat.completion.chunk]
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              delta:
                type: object
                properties:
                  content:
                    type: string
              finish_reason:
                type: string
                nullable: true

    RouteboxMeta:
      type: object
      description: |
        Injected as a SSE event (object: "routebox.meta") before [DONE] in streaming,
        or as _routebox field in non-streaming responses.
      properties:
        object:
          type: string
          enum: [routebox.meta]
        provider:
          type: string
        model:
          type: string
        requested_model:
          type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
        cost:
          type: number
        latency_ms:
          type: integer
        is_fallback:
          type: boolean
